/* 
    Document   : main
    Created on : Sep 2, 2013, 10:32:32 AM
    Author     : ernstbolt
    Description:
        Purpose of the stylesheet follows.
*/

html{
    
}

root { 
    display:block;
}

h1{
    color:greenyellow;
}

.einde{
    color:red;
}

#blokjes{
 height: 20px;
 width: 20px;
 background-color: red;
 margin: 2px;
 float: right;
 position: relative;
}

#blokken{
 height: 20px;
 width: 20px;
 background-color: yellow;
 margin: 2px;
 float: left;
 position: relative;
}

#container {
    -moz-box-shadow:    6px 6px 10px 6px #5a6c98;
    -webkit-box-shadow: 6px 6px 10px 6px #5a6c98;
    box-shadow:         6px 6px 10px 6px #5a6c98;
    margin-left: auto;
    margin-right:auto;
    width: 650px;
    margin-top: 80px;
    padding: 40px;
}

